body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}
p{
    font-size: 15px;
    font-style: normal;
}
.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 375px;
    margin: auto;
    text-align: center;

    &__banner{
        img{
            width: 100%;
            border-radius: 15px;
        }
    }

    &__title{
        color: hsl(218, 44%, 22%);
        padding: 20px 30px 0 30px;
    }

    &__description{
        color: hsl(220, 15%, 55%);
        padding: 0 30px 30px 30px;
    }
}